@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,200;1,300;1,400&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700;8..60,900&family=Ubuntu:wght@400;700&display=swap");
body {
	font-family: "Poppins", sans-serif;
	background-color: #fff;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
}

.button-color-blue {
	background-color: #289bde;
	border: 1px solid #289bde;
}

.bg-opacity {
	background-color: #289bde !important;
}

.price-color {
	color: rgb(40, 155, 222);
}

.badge-right {
	top: 50% !important;
	transform: translateY(-50%) !important;
}

.badge-left {
	background-color: rgba(40, 155, 222, 0.5) !important;
}

@media only screen and (max-width: 992px) {
	.carousel-item img {
		height: 500px !important;
	}
}

@media only screen and (max-width: 768px) {
	.carousel-caption {
		top: 40%;
		transform: translateY(-40%);
	}
	.carousel-item img {
		height: 400px !important;
	}
	.caption-text {
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 576px) {
	.course-img-box {
		width: 100%;
	}
	.course-img {
		width: 100% !important;
	}
}

@media only screen and (max-width: 500px) {
	.carousel-item img {
		height: 300px !important;
	}
	.caption-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
